
.populer-product__container {
  width: 1600px;
  margin: auto;
  box-sizing: border-box;
  padding-left: 230px;
  padding-right: 144px;
  margin-top: 125px;
}

.populer-product__header {
  text-align: center;
}

.populer-product__header h4 {
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.145em;
  text-transform: uppercase;
  color: #e4969e;
  margin: 0;
}

.populer-product__header h2 {
  font-weight: 600;
  font-size: 44px;
  line-height: 71px;
  margin: 0;
}

.populer-product__navigation {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.populer-product__navigation-element {
  margin-right: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  text-transform: uppercase;
  color: #84898d;
  transition: 0.4s;
  text-decoration: none;
}

.populer-product__navigation-element:last-child {
  margin-right: 0px;
}

.populer-product__navigation-element:hover {
  color: #c72535;
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.4s;
}

.populer-product__items-block {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.populer-product__item {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin-left: 30px;
  margin-bottom: 30px;
  padding: 30px;
}

.populer-product__item-no-sale {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin-left: 30px;
  margin-bottom: 30px;
  padding: 57px 30px 30px 30px;
}

.populer-product_sale {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  margin: 0;
}

.populer-product__item-title {
  font-weight: 600;
  font-size: 25px;
  line-height: 40px;
  margin: 0;
}

.populer-product__item-price {
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  margin: 0;
}

.populer-product__item-price__span {
  font-weight: 300;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  text-decoration-line: line-through;
  color: #a2a6a9;
}

.populer-product-rating {
  display: flex;
  margin-top: 7px;
}

.populer-procuct_image {
  margin: auto;
  height: 243px;
  width: 243px;
}

.populer-product__items-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.populer-product__item-button {
  transition: 0.2s;
}

.populer-product__item-button:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.2s;
}

.populer-product__price__raiting__color {
  display: flex;
  justify-content: space-between;
}

.populer-product__color {
  display: flex;
}

.populer-product__item-color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid black;
  margin-right: 2px;
  transition: 0.2s;
}

.populer-product__item-color:last-child {
  margin-right: 0px;
}

.populer-product__item-color:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.2s;
}

.color-one {
  background: white;
}

.color-two {
  background: red;
}

.color-three {
  background: black;
}

.pupuler-product__view-all-container {
  display: flex;
  justify-content: center;
}

.pupuler-product__view-all-button {
  width: 10%;
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.3s;
  margin-bottom: 100px;
  color: #c72535;
  text-decoration: none;
}

.pupuler-product__view-all-button:hover {
  color: #c72535;
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.3s;
}

.pupuler-product__view-all-button p {
  font-weight: 600;
  font-size: 14px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  margin-right: 5px;
}
